<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Georgia Tech Research Institute">

  <title>{% block title %}{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/static/site/css/style.css" rel="stylesheet">
  <link rel="shortcut icon" href="/static/images/favicon.ico">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a href="{{ url_for('main.index') }}">
        <img src="/static/images/gtri-logo.svg" alt="GTRI" height="50">
      </a>
     
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Link 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link 2</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Messages -->
  <div class="container mt-4">
    {% for message in get_flashed_messages() %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  </div>

  <!-- Page Content -->
  {% block upperJumbotron %}{% endblock %}
  <div class="container main">
    {% block content %}{% endblock %}
  </div>
  {% block lowerJumbotron %}{% endblock %}

  <!-- Bootstrap core JavaScript -->
  <script src="/static/jquery/js/jquery.slim.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
